.header_nav{
    display: flex;
    justify-content: space-around;
    background-color: hotpink ;
    align-items: center;
    width: 100%;
    border: 2px solid red;
}

.header_list{
    /* display: flex; */
    justify-content: space-around;
    border: 2px solid hotpink;
    width: 5rem;
}